/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #ffffff;
    --color-black: #0c0f0a;

    // Couleurs du projet
    --color-fond-header: #4f8eb1;
    --color-fond-search: rgba(255, 255, 255, 0.9);
    --color-fond-buttonplay: #d9d9d9;
    --color-fond-about: rgba(79, 142, 177, 0.25);
    --color-fond-cards: rgba(255, 243, 230, 0.5);
    --color-border-button: #c3c2c1;

    //Couleurs typo du projet
    --color-typo-fonce: #00485f;
    --color-typo-search: #3c3c43;
    --color-type-contribution: #707070;
}
