/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #ffffff;
    --color-black: #0c0f0a;

    // Couleurs du projet
    --color-fond-entete: #4f8eb1;
    --color-fond-rechercher: rgba(255, 255, 255, 0.9);
    --color-fond-boutonplay: #d9d9d9;
    --color-fond-apropos: rgba(79, 142, 177, 0.25);
    --color-fond-cartes: rgba(255, 243, 230, 0.5);

    //Couleurs typo du projet
    --color-typo-fonce:#00485f;
    --color-typo-rechercher:#3c3c43;
}
